@model IEnumerable<Modelo.DAO.Evento>

@{
    ViewBag.Title = "Próximos Eventos";
}

<h2>Próximos Eventos</h2>

<ul class="nav navbar-nav" style="width:100%">
    <li>
        @Html.ActionLink("Novo evento", "Create")
    </li>
    <li>
        @Html.ActionLink("Sugerir Evento", "Create", "Sugestoes", null, null)
    </li>
    <li style="position:relative;float:right">
        <div id="escopoBtns" data-toggle="buttons" class="btn-group">
            <label id="Pessoal" onchange="reply(this.id)"  value="Pessoal" class="btn btn-primary active">
                <input id="PessoalRadio" checked name="escopoValue" type="radio" value="Pessoal" required="required"><i class="glyphicon glyphicon-filter"></i> Pessoal
            </label>
            <label id="Disciplina" onchange="reply(this.id)" value="Disciplina" class="btn btn-primary">
                <input id="DisciplinaRadio" name="escopoValue" type="radio" value="Disciplina" required="required"><i class="glyphicon glyphicon-filter"></i> Disciplina
            </label>
            <label id="Global" onchange="reply(this.id)"  value="Global" class="btn btn-primary">
                <input id="GlobalRadio" name="escopoValue" type="radio" value="Global" required="required"><i class="glyphicon glyphicon-filter"></i> Global
            </label>
        </div>
    </li>
    <li style="position:relative;float:right;margin-right:10px">
        <select id="order" onchange="orderAndFilterList()" class="form-control glyphicon">
            <option value="Popularidade">&#xe150; Popularidade</option>
            <option value="Proximidade">&#xe150; Proximidade</option>
            <option value="Recentes">&#xe150; Recentes</option>
        </select>
    </li>
</ul>

<table id="div-items" class="table" style="position:relative; margin-top:10px;">
    @Html.Partial("_EventoesList", Model)
</table>


@Html.Raw(TempData["msg"])

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        function reply(next) {
            var previous = document.getElementsByClassName("active")[0].id;
            if (previous != next) {
                //alert(next);
                document.getElementById(previous+"Radio").checked = false;
                document.getElementById(next+"Radio").checked = true;
                orderAndFilterList(); 
            }
            else {
                //alert(previous + "->" + next);
            }
        }

        function orderAndFilterList() {
            var selectOrder = document.getElementById('order');
            var order = selectOrder.options[selectOrder.selectedIndex].value;
            var escopo = $("input[name=escopoValue]:checked").val();

            //alert(escopo + ' - ' + order);

            $.ajax({
                url: '@Url.Action("FilterPartial", "Eventoes")',//controller name and action
                type: 'POST',
                data: { 'filterValue': escopo, 'orderValue': order }, //information for search
                success: function (response) {
                    $('#div-items').html(response);
                    //alert(response);
                },
                error: function (xhr, status, error) {
                    alert(status + " : " + error);
                }

            });
        }
    </script>
}
