@model IEnumerable<Modelo.DAO.Disciplina>

@{
    ViewBag.Title = "Lista de Disciplinas";
}

<h2>Lista de Disciplinas</h2>

<p>
    @Html.ActionLink("Adicionar Disciplina", "Create")
</p>
<table class="table">
    <tr>
        <th>Nome</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItemm => item.nome)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.nome }) |
            @Html.ActionLink("Details", "Details", new { id=item.nome }) |*@
            @Html.ActionLink("Excluir", "Delete", new { id=item.nome })
        </td>
    </tr>
}

</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Voltar ao Painel Adminstrativo", "Main", "Administrador", null, null)
</p>
