@model Modelo.DAO.Usuario

@{
    ViewBag.Title = "Apagar Usuário";
}

@{
        if (object.Equals(System.Web.HttpContext.Current.Session["tipo"], "Administrador")) {
        <h2>Apagar Usuário</h2>

        <h3>Tem certeza que deseja apagar usuário?</h3>
        <div>
            <h4>@Html.DisplayFor(model => model.nome)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   Nome
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                   Data de Nascimento
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.data_nascimento)
                </dd>

                <dt>
                   Tipo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tipo)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-default" /> |
                    @Html.ActionLink("Voltar para a listagem", "Index")
                </div>
            }
        </div>
    }
    else
    {
        @RenderPage("~/Views/Shared/_NotAuthorized.cshtml")
        <div>
            @Html.ActionLink("Voltar ao perfil", "Details", new { id = ViewContext.RouteData.Values["id"] + "/" }, null)
        </div>
    }

}
