@model Modelo.DAO.Usuario
@using Modelo.DAO;

@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil</h2>

<div>
    <h4>@System.Web.HttpContext.Current.Session["nome"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @{ 
                var data = Html.DisplayFor(model => model.data_nascimento);
                var str = "-";
                if (data.ToString().Length > 0)
                {
                    str = data.ToString().Substring(0, 10);
                }
            }
            @str
        </dd>

        <dt>
            Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
    </dl>
</div>
<p>
    @{
        if (object.Equals(ViewContext.RouteData.Values["id"], System.Web.HttpContext.Current.Session["email"]))
        {
            @Html.ActionLink("Editar", "Edit", new { id = System.Web.HttpContext.Current.Session["email"] + "/" })
            @:|
        }
    }
    @Html.ActionLink("Lista de Usuários", "Index")
</p>
<br>
<hr>
<h4>Participações</h4>
<table class="table" style="width:50%;">
    <tr>
        <th>
            Evento
        </th>
        <th>
            Link
        </th>
    </tr>
    @foreach (Inscricao i in Model.Inscricoes)
    {
        <tr>
            <td>
                @i.Evento.nome
            </td>
            <td>
                @Html.ActionLink("Ver detalhes", "Details", "Eventoes", new { id=i.EventoId }, null)
            </td>
        </tr>
    }
</table>