@model IEnumerable<Modelo.DAO.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Listar usuários</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.email + "/" } ) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.email + "/" }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.email + "/" } )
        </td>
    </tr>
}

</table>
