<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - utEventos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("utEventos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Início", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Próximos Eventos", "Index", "Eventoes")</li>
                    <li>@Html.ActionLink("Museu de Eventos", "Museu", "Eventoes")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                    @{
                        if (object.Equals(System.Web.HttpContext.Current.Session["tipo"],"Administrador"))
                         {
                            <li>@Html.ActionLink("Gerenciar", "Main", "Administrador")</li>
                        }
                    }
                    <li style="margin-left:10px;margin-top:5px">
                        @using (Html.BeginForm("Index", "Eventoes", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            string myBoxStyle = "height: 34px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; border: 1px solid #cccccc; border-radius: 4px;";
                            @Html.DropDownList("Tipo", new SelectList(new string[] { "Nome", "Disciplina", "Mês" }), new { @name="Tipo", @style=myBoxStyle, @required="required" })
                            @Html.TextBox("Query", null, new { name = "Query", @style = myBoxStyle })
                            <button type="submit" style="height:35px;margin-left:-5px;font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle;">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                         }
                    </li>
                </ul>
                @Html.Partial("_MyLoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{ if (System.Web.HttpContext.Current.Session["nome"] != null || HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Account") {
                 @RenderBody()
            }
            else
            {
                RenderBody();
                @RenderPage("~/Views/Shared/_NotLogged.cshtml")
           }
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - utEventos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")


    @RenderSection("scripts", required: false)
</body>
</html>
